.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
build/*
!build/create_build_files_linux_debug.sh
!build/create_build_files_linux_release.sh
!build/create_build_files_msvc_debug.cmd
!build/create_build_files_msvc_debug.cmd
!build/README.md
*.ll